<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Title</title>
</head>
<body>
<h2><a class="btn btn-primary text-center" th:href="@{/clients}">View Users</a></h2>
<h2><a class="btn btn-primary text-center" th:href="@{/user/login}">Login</a></h2>
<h2><a class="btn btn-primary text-center" th:href="@{/admin/login}">Admin</a></h2>
<img th:src="@{/images/line-dec.png}" alt="waves">
</body>
</html>