<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>your request please</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        /* Style the header */
        .header{
            text-align: center;
            color:#00172D;
            text-transform: uppercase;
            padding: 40px;
            font-size: 1.5rem;
            background-image: url("/static/pic/5.jpg");
        }
        .header span{
            color:#00172D;
            text-transform: uppercase;
        }

    </style>

</head>
<body>
<div class="header">
    <h1 class="heading">your <span> request </span> please</h1>
</div>

<div>
<ul>
    <li>
        <a href=""></a>
    </li>
</ul>
</div>

<div class="row">
    <div class="column side">
        <img src="/static/pic/M.jpeg" alt="h4" width="400" height="400">
    </div>


</body>
</html>